---
layout: base
---

<div class="py-5 md:px-5 sm:px-3">
  <h1 class="text-3xl font-bold underline my-5">
    CJAM Sample Page: Find Near You
  </h1>
  <h2 class="test-xl font-bold my-3">{{ page.title }}</h2>

  <div>{{ content }}</div>

  <div
    id="map-embed-350org"
    class="border border-green p-1"
    {{
    page.codes
    }}
  ></div>
  <pre class="my-5 p-3 bg-gray-100"><code>&lt;div id="map-embed-350org"
{{ page.codes }} &gt;&lt;/div&gt;</code></pre>
</div>
{% if page.version == 'production' %}
<script src="https://350map.org/main.js"></script>
{% else if page.version == 'develop' %}
<script src="https://develop--cjam-webclient.netlify.app/main.js"></script>
{% endif %}
